<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"></compilation>
  </system.web>
  <appSettings>
    <!--设置私有队列名称-->
    <add key ="queueName" value=".\private$\order"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
      <services>
      <service name="MSMQWCF.Order" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="net.msmq://localhost/private/order" binding="netMsmqBinding" contract="MSMQWCF.IOrder" bindingConfiguration="Nosecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design Time Addresses/MSMQWCF/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="Nosecurity" exactlyOnce="false">
          <security mode="None"></security>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>