<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MessageBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MessageBehavior" name="Sample.People">
                <endpoint address="http://localhost:1245/Sample/" binding="wsHttpBinding" contract="Sample.IFly">
                </endpoint>
                <endpoint address="net.tcp://localhost/1111/Sample" binding="netTcpBinding" contract="Sample.IFly">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1245/Sample/" />
                    </baseAddresses>
                </host>
            </service>
               </services>
    </system.serviceModel>
</configuration>
