
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListView</title>
</head>
<body>
    <div>
        <p id="p1">Welcome to MVC 5 Step by Step learning</p>
    </div>
</body>
</html>
